*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    padding: 20px;
    background-color:#6C3428;

}
.titutlo{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    width: 100%;
    text-align: center;
    color: #DFA878;
    font-size: 7em;
}
h2{
    text-align: center;
    color: #DFA878;
    font-size: 5em;
}

body input{
    border-radius: 5px;
    border-color: #6C3428;
    background-color: #CEE6F3;
    border:  1px;
    padding: 5px;
}
.btn{
    background-color: rgb(138, 97, 110);
    color:#DFA878;
    width: 100%;  
}

.btn:hover{
    color: #6C3428;
    background-color:#CEE6F3;
}

.form-select{
    background-color:  rgb(201, 197, 210); 
   
}